name: CI
on: push
jobs:
  deploy:
    runs-on: ubuntu-22.04
    steps:
      - name: Git checkout
        uses: actions/checkout@v3

      - name: Setup hugo
        uses: peaceiris/actions-hugo@v2
        with:
          hugo-version: "0.110.0"

      - name: Build
        run: |
          hugo
          cp CNAME ./public

#      - name: Deploy
#        uses: peaceiris/actions-gh-pages@v3
#        with:
#          personal_token: ${{ secrets.BLOG_TOKEN }}
#          publish_dir: ./public
#          external_repository: viciouslabs/viciouslabs.github.io

      - name: Deploy
        uses: peaceiris/actions-gh-pages@v3
        with:
          personal_token: ${{ secrets.BLOG_TOKEN }}
          external_repository: viciouslabs/viciouslabs.github.io
          publish_dir: ./public
          user_name: viciouslabs
          user_email: theviciouslabs@gmail.com
          publish_branch: gh-pages
