name: Hugo Build & Deploy

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Git checkout
        uses: actions/checkout@v4
        with:
          token: ${{ secrets.BLOG_TOKEN }} 
          submodules: true
          fetch-depth: 0 # Recommended for fetching all history if needed

      - name: Setup hugo
        uses: peaceiris/actions-hugo@v3
        with:
          hugo-version: "latest"
          extended: true

      - name: Build
        run: |
          hugo --minify
          cp CNAME ./public

      - name: Deploy
        uses: peaceiris/actions-gh-pages@v3
        with:
          personal_token: ${{ secrets.BLOG_TOKEN }}
          external_repository: viciouslabs/viciouslabs.github.io
          publish_dir: ./public
          user_name: viciouslabs
          user_email: theviciouslabs@gmail.com
          publish_branch: gh-pages
  